<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://www.revistaferramental.com.br/admin/images/noticias/algoritmo-400-vezes-mais-rapido.jpg"
      alt=""
      height="250px"
    />
  </div>
  <a href=""></a>
  <div class="big-card__title">
    <h1>
      <a href="#">
        Nova pesquisa revela avanços promissores no desenvolvimento de algoritmos
        de última geração
      </a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Nova pesquisa revela avanços revolucionários em algoritmos, acelerando o
        processamento e aprimorando a inteligência artificial, com aplicações
        promissoras em medicina, finanças, transporte e segurança cibernética.
      </a>
    </p>
  </div>
</div>
